<div style="display: flex; flex-direction: row;">
  <div
    id="map-container-google-1"
    class="map-container"
    style="height: 500px; flex: 1;"
  >
    <iframe
      src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed"
      frameborder="0"
      style="border:0;"
      allowfullscreen
    ></iframe>
  </div>
  <div style="flex: 1; padding-left: 20px;  padding: 10px;">
    <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
    <p>Este sitio web es un proyecto universitario creado por el equipo:</p>
    <table>
      <tr>
        <td>Daniel Aron Lopez Zermeño</td>
        <td>ID:269649</td>
      </tr>
    </table>
  </div>
</div>
