.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table td,
table th {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
  color: #555;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}
